<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guard.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guard.last_name %>
</p>

<%= link_to 'Edit', edit_guard_path(@guard) %> |
<%= link_to 'Back', guards_path %>
