<% content_for :javascripts do %>
<%= javascript_include_tag 'shifts/index' %>
<% end %>
<div class="section">
    <div class="row">
        <div class="col s12">


    <%= form_for @search, url: new_search_path(@search), remote: true do |f| %>
    <%= f.label :search_date %>:
    <%= f.text_field :search_date  %>
    <%#= f.text_field :search_date, :dateFormat => "yy-mm-dd" %>
    <%#= f.hidden_field :seach_date, { :value => @search.search_date } %>
    <%=  link_to 'run search', new_search_path, :params => params[:search_date] %>
    <%#= f.submit 'search' %>
    <% end %>

<!--    MAKE A DATESEARCH COLUMN IN SEACHES MODEL AND THE FORM
FOR ABOVE WILL BE FOR @SEARCH, THE PARAMS WILL BE THE @SEARCH.DATETIME -->
           <p id="notice"><%= notice %></p>
           <h5>Listing Shifts</h5>
        </div>
    </div>
    <div class="row">
      <%= form_for(@shift) do |f| %>
        <div class="input-field col s12 m3">
           <label for="select">Select Site</label>
           <%= collection_select(nil, 'site_select', Site.all, :codename, :name, {:prompt=>true}, {:id=>'site_select'}) %>
        </div>
         <div class="input-field col s12 m2">

             <input type="text" name="datepicker" id = "datepicker">
         </div>
         <div class="input-field col s12 m2">
             <a class="waves-effect waves-light btn">Show schedules</a>
         </div>
       <% end %>
    </div>
</div>
 <div class="divider"></div>
<div class="section ">
  <div id="table-shift">
    <% if @shifts_by_date != nil %>
      <!-- <%= render @guard %> -->
    <% end %>
  </div>
</div>
</div>
