<div class="section">
  <div class="row">
    <div class="col s12">
      <p id="notice"><%= notice %></p>
      <h5>Listing Shifts</h5>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3">
       <label for="select">Select Site</label>
       <%= collection_select(nil, 'site_select', Site.all, :codename, :name, {:prompt=>'All Sites'}, {:id=>'site_select'}) %>
    </div>
    <div class="input-field col s12 m2">
      <input type="text" name="datepicker" id = "datepicker">
    </div>
    <div class="input-field col s12 m2">
      <a class="waves-effect waves-light btn">Show schedules</a>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div id="table-shift">
    <div class="row">
      <div class="col s12">
        <table class="striped" id="listing-shifts">
          <thead>
            <tr class="se-table-th ">
              <th data-field="name"  colspan=""></th>
              <th data-field="post"  rowspan=""></th>
              <th data-field="monday" id="date-1" colspan="3"> </th>
              <th data-field="tuesday" id="date-2" colspan="3"></th>
              <th data-field="wednesday" id="date-3" colspan="3"></th>
              <th data-field="thursday" id="date-4" colspan="3"></th>
              <th data-field="friday" id="date-5" colspan="3"></th>
              <th data-field="saturday" id="date-6" colspan="3"></th>
              <th data-field="sunday" id="date-7" colspan="3"></th>
              <th></th>
            </tr>
            <tr>
              <th colspan="">Guard</th>
              <th >Post</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total" >Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align  se-table-total">Total</th>
              <th class="center-align ">W.Total</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <%= form_tag shifts_path, multipart: true do %>
      <a class="waves-effect waves-light btn left_buttons first_button">
        <i class="material-icons left">note_add</i>
        <label for="file">Choose file</label>
        <%= file_field_tag :file, class: 'upload_button' %>
      </a>
      <%= javascript_include_tag "shifts/index" %>
      <a class="waves-effect waves-light btn left_buttons disabled" id="upload_a">
        <i class="material-icons left">call_made</i>
        <%= submit_tag 'Upload shifts'%>
      </a>
      <% end %>
    </div>
    <div class="col s12 m6">
      <a class="waves-effect waves-light btn right_buttons" rel="nofollow" data-method="delete" href="/shifts"><i class="material-icons left">clear_all</i>Clear table</a>
      <a class="waves-effect waves-light btn right_buttons first_button" value="calculate" onclick="calculate()"><i class="material-icons left">schedule</i>calculate Hrs</a>
    </div>
    <div class="download_links col s12">
      <%#= link_to 'Download csv', shifts_path(@shifts, format: :csv) %>
      <%= link_to 'Excel', shifts_path(@shifts, format: :xls) %>
      <%= link_to 'PDF', shifts_path(@shifts, format: :pdf) %>
    </div>
  </div>
</div>
