<div class="section">
  <div class="row">
    <div class="col s12">
      <p id="notice"><%= notice %></p>
      <h5>Listing Shifts</h5>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3">
      <%= collection_select(nil, 'site_select', Site.all, :codename, :name, {:prompt=>'All Sites'}, {:id=>'site_select'}) %>
    </div>
    <div class="input-field col s12 m2">
      <label for="datepicker">Date</label>
      <input type="text" name="datepicker" id = "datepicker">
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div id="table-shift">
    <div class="row">
      <div class="col s12">
        <table class="striped" id="listing-shifts" >
          <thead>
            <tr class="se-table-th ">
              <th data-field="name"  colspan=""></th>
              <th data-field="post"  rowspan=""></th>
              <th data-field="monday" id="date-1" colspan="3"> </th>
              <th data-field="tuesday" id="date-2" colspan="3"></th>
              <th data-field="wednesday" id="date-3" colspan="3"></th>
              <th data-field="thursday" id="date-4" colspan="3"></th>
              <th data-field="friday" id="date-5" colspan="3"></th>
              <th data-field="saturday" id="date-6" colspan="3"></th>
              <th data-field="sunday" id="date-7" colspan="3"></th>
              <th></th>
            </tr>
            <tr>
              <th colspan="">Guard</th>
              <th >Post</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total">Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align se-table-total" >Total</th>
              <th class="center-align">In</th>
              <th class="center-align">Out</th>
              <th class="center-align  se-table-total">Total</th>
              <th class="center-align ">W.Total</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <%= form_tag shifts_path, multipart: true do %>
      <a class="waves-effect waves-light btn left_buttons first_button">
        <i class="material-icons left">note_add</i>
        <label for="file">Choose file</label>
        <%= file_field_tag :file, class: 'upload_button' %>
      </a>
      <a class="waves-effect waves-light btn left_buttons disabled" id="upload_a">
        <i class="material-icons left">call_made</i>
        <%= submit_tag 'Upload shifts'%>
      </a>
      <% end %>
      <a class="waves-effect waves-light btn left_buttons disabled" id="xlsExport" download="">
        Download Excel
      </a>
    </div>
    </div>
    <div class="col s12 m12 s12 signed_user">
      Logged in as <%= link_to current_user.email, edit_user_path(current_user) %> | <%= link_to "Logout", '/logout' %>
    </div>
  </div>
</div>
