
<p id="notice"><%= notice %></p>

 <h3>Listing Shifts</h3>

  <table class="striped">
    <thead>
      <tr class="se-table-th ">
        <th data-field="name"  rowspan=""></th>
        <th data-field="post"  rowspan=""></th>
        <th data-field="monday"  colspan="3">Monday</th>
        <th data-field="tuesday"  colspan="3">Tuesday</th>
        <th data-field="wednesday"  colspan="3">Wednesday</th>
        <th data-field="thursday"  colspan="3">Thursday</th>
        <th data-field="friday" colspan="3">Friday</th>
        <th data-field="saturday"  colspan="3">Saturday</th>
        <th data-field="sunday"  colspan="3">Sunday</th>
      </tr>
      <tr >
        <th >Guard </th>
        <th >Post</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total">Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total">Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total">Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total">Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total">Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align se-table-total" >Total</th>
        <th class="center-align">In</th>
        <th class="center-align">Out</th>
        <th class="center-align  se-table-total">Total</th>
      </tr>
    </thead>

    <tbody>
      <% @guards.each do |guard| %>
        <% find_shifts(guard) %>
        <tr>
          <td><%= guard.first_name + " " + guard.last_name %></td>
          <td><%= "VWA" %> </td>
          <!--  Monday shifts  -->
          <td ><%= @week["monday_on"]%></td>
          <td ><%= @week["monday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Tuesday shifts  -->
          <td><%= @week["tuesday_on"]%></td>
          <td><%= @week["tuesday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Wednesday shifts  -->
          <td><%= @week["wednesday_on"]%></td>
          <td><%= @week["wednesday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Thursday shifts  -->
          <td><%= @week["thursday_on"]%></td>
          <td><%= @week["thursday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Friday shifts  -->
          <td><%= @week["Friday_on"]%></td>
          <td><%= @week["Friday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Saturday shifts  -->
          <td><%= @week["saturday_on"]%></td>
          <td><%= @week["saturday_off"]%></td>
          <td class="se-table-total"></td>
          <!--  Sunday shifts  -->
          <td><%= @week["sunday_on"]%></td>
          <td><%= @week["sunday_off"]%></td>
          <td class="se-table-total"></td>
        </tr>



          <!-- <td><#%= link_to 'Show', shift %></td>
          <td><#%= link_to 'Edit', edit_shift_path(shift) %></td>
          <td><#%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Shift', new_shift_path %>

<!-- <tbody>
  <% @guards.each do |guard| %>
    <% shifts = Shift.where(guard_id: guard.id).order(:datetime) %>
    <tr>

      <td><%= guard.first_name + guard.last_name %></td>
      <td><%= "VWA" %></td>

      <% monday = [] %>
      <% tuesday = [] %>
      <% wednesday = [] %>
      <% thursday = [] %>
      <% friday = [] %>
      <% saturday = [] %>
      <% sunday = [] %>

      <% shifts.each do |shift| %>

      <% day_of_shift = shift.datetime.strftime('%A') %>
      <% clock = shift.datetime.strftime('%H:%M') %>

      <% if day_of_shift == "Monday" %>
      <% monday << shift %>

      <% elsif day_of_shift == "Tuesday" %>
      <% tuesday << shift %>

      <% elsif day_of_shift == "Wednesday" %>
      <% wednesday << shift %>

      <% elsif day_of_shift == "Thursday" %>
      <% thursday << shift %>

      <% elsif day_of_shift == "Friday" %>
      <% friday << shift %>

      <% elsif day_of_shift == "Saturday" %>
      <% saturday << shift %>

      <% elsif day_of_shift == "Sunday" %>
      <% sunday << shift %>

      <% end %>  -->

        <!--  Monday shifts -->

        <!--  Tuesday shifts  -->

        <!--  Wednesday shifts  -->

        <!--  Thursday shifts  -->

        <!--  Friday shifts  -->

        <!--  Saturday shifts  -->

        <!--  Sunday shifts  -->

    <!-- </tr>
  <% end %>
  <% end %>

</tbody> -->
